<div id="one">
    <p id="notice"><%= notice %></p>
    <button class= "btn" type="submit">Sign in with GitHub</button>

    <h1>GIT IT</h1>
    <h2 class="subhead">Homework Tracker</h2>

</div>

<div id="two">
  <div id="homework">
    <h2>Welcome, Alejandra!</h2>
    <h3>Do your homework!</h3>
    <% @assignments.each do |assignment| %>
    <ul>
      <li><%= assignment.date_name %></li>
    </ul>
    <% end %>

  </div>
</div>

