<p id="notice"><%= notice %></p>

<p>
  <strong>Date name:</strong>
  <%= @assignment.date_name %>
</p>

<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>
