/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html {
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Dosis', sans-serif;
}

h1 {
    text-align: center;
    margin: 0 auto;
    padding-top: 50%;
    font-family: 'Press Start 2P', cursive;
    color: white;
    font-size: 3.5em;
}    

.subhead {
    text-align: center;
    color: white;
}

.btn {
    background-color: white;
    color: black;
    -moz-border-radius:28px;
    -webkit-border-radius:28px;
    border-radius:28px;
    border:1px solid white;
    cursor:pointer;
    font-size:15px;
    margin-top: 8%;
    text-decoration:none;
}

#one {
    float: left;
    width: 34.53%;
    height: 100%;
    background-color: black;
    text-align: center;
}

#two {
    float: right;
    width: 65%;
    height: 100%;
    background-color: white;
    overflow: scroll;
}

#homework {
    padding: 3%;
}

ul {
    max-width: 55%;
    margin: 0 auto;
    text-align: center;
    font-size: 2em;
}

li {
    background-color: #66b266;
    list-style: none;
     margin-top: 10px;
     padding: 15px;
     border-radius: 8px;
}

.incomplete {
    background-color: #ff3333;

}